#text1 {
    padding: 10px;
    background-color: blueviolet;
}
#text2 {
    padding: 10px;
    text-align: left;
    background-color: coral;
    display: none;
}
#caja3 {
    padding: 10px;
    background-color: aqua;
}
#caja2 {
    width: 20%;
}
#img {
    width: 100%;
}