h1, div{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; 
}
.primary-btn{
    background-color:#3498db ;
    color:  #fff;
    padding: 8px 20px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color: #3498db ;
    border-style: solid;
}
.secondary-btn{
    background-color: #2ecc71 ;
    color:  #fff;
    padding: 8px 12px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color:  #2ecc71 ;
    border-style: solid;
}
.success-btn{
    background-color:  #27ae60 ;
    color:  #fff;
    padding: 8px 22px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color:  #27ae60 ;
    border-style: solid;
}
.danger-btn{
    background-color: #e74c3c ;
    color:  #fff;
    padding: 8px 16px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-color:  #e74c3c ;
    border-style: solid;
}