.navbar{
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
}
h3{
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 7%;
}
.row{
    width: 100%;
    padding-left:10%;
    padding-right: 10%;  
}